@using Settings = Project.Settings

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 應用程式</title>
    @if (Settings.UseWebpackDevServer)
    {
        <link rel="stylesheet" href="@(Settings.WebpackDevServerRoot)/Content/main.css">
    } else {
        <link rel="stylesheet" href="/Content/main.css">
    }
</head>
<body>
    <div id="app"></div>
    @RenderBody()

    @if (Settings.UseWebpackDevServer)
    {
        <script src="@(Settings.WebpackDevServerRoot)/Scripts/main.js"></script>
    } else {
        <script src="/Scripts/vendor.js"></script>
        <script src="/Scripts/main.js"></script>
    }
    @RenderSection("scripts", required: false) 
</body>
</html>
